name: CI-CD Pipeline
on:
 push:
  branches:
   - main
jobs:
  build_and_push:
   runs-on: ubuntu-latest
   steps:
    - uses: actions/checkout@v3
    - uses: docker/login-action@v2
    - uses: docker/build-push-action@v4
       push: true
       tags: pavanij2005/jpapp:v2
